<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.url">jdbc:sqlserver://172.20.7.16;databasename=zichanguanli_10110008</property>
        <property name="connection.username">test2016</property>
        <property name="connection.password">test2016</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
      <!--设置数据库存放数据的格式  -->
      <!--     <property name="connection.useUnicode">true</property> 
        <property name="connection.characterEncoding">UTF-8</property> 
 -->
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.SQLServer2008Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
       
       <!--  <mapping resource="com/hp/user/bean/User.hbm.xml"/>
       
        <mapping resource="com/hp/user/bean/Student.hbm.xml"/>
       -->
            <mapping class="com.hp.bean.Husband"/>
           <mapping class="com.hp.bean.Wife"/> 
            <mapping class="com.hp.bean.Team"/>
           <mapping class="com.hp.bean.Player"/> 
    </session-factory>

</hibernate-configuration>
